In [1]:
import pandas as pd
import numpy as np

In [2]:
dataDir = "/Users/deligkaris.1/OneDrive - The Ohio State University Wexner Medical Center/MICROSIM/NOTEBOOKS/DATA"

In [3]:
quantiles = pd.read_csv(dataDir + "/dementiaAndCVQuantileThresholds.csv",index_col=0)

In [36]:
quantiles.head(5)

       dementia        cv
0.000  0.000000  0.000000
0.025  0.000009  0.000108
0.050  0.000021  0.000191
0.075  0.000038  0.000285
0.100  0.000061  0.000390

In [5]:
#2 nodes on average
#which is 4 calculations running concurrently
#1 calculation ~ 1 day
#so 4 calculations per day
#want to be done in 2 weeks, 14 days
#so I can do 4*14=56 calculations, well one time, it was monday morning, I got access to 32 nodes, 48 cores each
#so obviously my assumptions here are not always correct...

In [7]:
quantiles.shape

(41, 2)

In [25]:
quantiles.iloc[0:40:6]

      dementia        cv
0.00  0.000000  0.000000
0.15  0.000129  0.000637
0.30  0.000636  0.001713
0.45  0.002155  0.003478
0.60  0.006356  0.006311
0.75  0.018465  0.011103
0.90  0.065891  0.020654

In [26]:
quantiles.iloc[8,0]

0.000235777768318

In [28]:
i = 0 
quantilesForTrialset = {"dementia":[],"cv":[]}
for j in range(0,40,6):
    for k in range(0,40,6):
        if ( (quantiles.iloc[j,0]>=quantiles.iloc[8,0]) | (quantiles.iloc[k,1]>=quantiles.iloc[8,1]) ) :
            #print(j,k,quantiles.iloc[j,0],quantiles.iloc[k,1])
            quantilesForTrialset["dementia"].append(quantiles.iloc[j,0])
            quantilesForTrialset["cv"].append(quantiles.iloc[k,1])
            i=i+1
i

45

In [29]:
quantilesForTrialsetDf = pd.DataFrame(quantilesForTrialset)

In [30]:
quantilesForTrialsetDf.T

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
dementia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000129,0.000129,0.000129,0.000129,0.000129,...,0.018465,0.018465,0.018465,0.065891,0.065891,0.065891,0.065891,0.065891,0.065891,0.065891
cv,0.001713,0.003478,0.006311,0.011103,0.020654,0.001713,0.003478,0.006311,0.011103,0.020654,...,0.006311,0.011103,0.020654,0.000000,0.000637,0.001713,0.003478,0.006311,0.011103,0.020654

In [31]:
quantilesForTrialsetDf.T.to_csv(dataDir + "/quantilesForTrialset.csv")

In [12]:
#the rest may be useful when you have forgotten to include some thresholds...otherwise just ignore....

In [ ]:
i = 0 
quantilesForTrialsetTodo = {"dementia":[],"cv":[]}
for j in range(0,40,4):
    for k in range(0,40,4):
        if (((quantiles.iloc[j,0]<quantiles.iloc[8,0]) & (quantiles.iloc[k,1]>=quantiles.iloc[8,1])) |
            ((quantiles.iloc[j,0]>=quantiles.iloc[8,0]) & (quantiles.iloc[k,1]<quantiles.iloc[8,1]))):
            #print(j,k,quantiles.iloc[j,0],quantiles.iloc[k,1])
            quantilesForTrialsetTodo["dementia"].append(quantiles.iloc[j,0])
            quantilesForTrialsetTodo["cv"].append(quantiles.iloc[k,1])
            i=i+1
i

In [ ]:
i = 0 
quantilesForTrialsetDone = {"dementia":[],"cv":[]}
for j in range(8,40,4):
    for k in range(8,40,4):
        #print(j,k,quantiles.iloc[j,0],quantiles.iloc[k,1])
        quantilesForTrialsetDone["dementia"].append(quantiles.iloc[j,0])
        quantilesForTrialsetDone["cv"].append(quantiles.iloc[k,1])
        i=i+1
i

In [ ]:
quantilesForTrialsetDoneDf = pd.DataFrame(quantilesForTrialsetDone)
quantilesForTrialsetTodoDf = pd.DataFrame(quantilesForTrialsetTodo)

In [ ]:
allDf = pd.concat([quantilesForTrialsetDoneDf,quantilesForTrialsetTodoDf],ignore_index=True)

In [ ]:
allDf = allDf.sort_values(by=allDf.columns.tolist()).reset_index(drop=True)
quantilesForTrialsetDf = quantilesForTrialsetDf.sort_values(by=quantilesForTrialsetDf.columns.tolist()).reset_index(drop=True)
print (allDf.equals(quantilesForTrialsetDf))

In [ ]:
#quantilesForTrialsetTodoDf.T.to_csv(dataDir + "/quantilesForTrialsetForgotten.csv")